MatrixTMI.json
[{"id":"c3f96036.271c5","type":"jimp-image","z":"e589c6c0.2531c8","name":"","data":"payload","dataType":"msg","ret":"img","parameter1":"-0.5","parameter1Type":"num","parameter2":"false","parameter2Type":"bool","parameter3":"","parameter3Type":"msg","parameter4":"","parameter4Type":"msg","parameter5":"","parameter5Type":"msg","parameter6":"","parameter6Type":"msg","parameter7":"","parameter7Type":"msg","parameter8":"","parameter8Type":"msg","sendProperty":"payload","sendPropertyType":"msg","parameterCount":1,"jimpFunction":"brightness","selectedJimpFunction":{"name":"brightness","fn":"brightness","description":"adjust the brightness","parameters":[{"name":"val","type":"num","required":true,"hint":"adjust the brightness by a value -1.0 to 1.0"}]},"x":420,"y":150,"wires":[["fab71b85.942368","55bef694.5fd648"]]},{"id":"fab71b85.942368","type":"image viewer","z":"e589c6c0.2531c8","name":"","width":"320","data":"payload","dataType":"msg","active":true,"x":400,"y":200,"wires":[[]]},{"id":"e6d329bf.53c9f8","type":"jimp-image","z":"e589c6c0.2531c8","name":"","data":"payload","dataType":"msg","ret":"img","parameter1":"90","parameter1Type":"num","parameter2":"","parameter2Type":"none","parameter3":"","parameter3Type":"msg","parameter4":"","parameter4Type":"msg","parameter5":"","parameter5Type":"msg","parameter6":"","parameter6Type":"msg","parameter7":"","parameter7Type":"msg","parameter8":"","parameter8Type":"msg","sendProperty":"payload","sendPropertyType":"msg","parameterCount":2,"jimpFunction":"rotate","selectedJimpFunction":{"name":"rotate","fn":"rotate","description":"rotate the image clockwise by a number of degrees. Optionally, a resize mode can be passed. If `false` is passed as the second parameter, the image width and height will not be resized.","parameters":[{"name":"deg","type":"num","required":true,"hint":"the number of degrees to rotate the image by"},{"name":"mode","type":"resizeMode|bool","required":false,"hint":"resize mode or a boolean, if false then the width and height of the image will not be changed"}]},"x":710,"y":150,"wires":[["638c7fa2.6065d"]]},{"id":"55bef694.5fd648","type":"jimp-image","z":"e589c6c0.2531c8","name":"","data":"payload","dataType":"msg","ret":"img","parameter1":"16","parameter1Type":"num","parameter2":"32","parameter2Type":"num","parameter3":"0","parameter3Type":"none","parameter4":"TEST","parameter4Type":"str","parameter5":"","parameter5Type":"msg","parameter6":"","parameter6Type":"msg","parameter7":"","parameter7Type":"msg","parameter8":"","parameter8Type":"msg","sendProperty":"payload","sendPropertyType":"msg","parameterCount":3,"jimpFunction":"resize","selectedJimpFunction":{"name":"resize","fn":"resize","description":"resize the image. One of the w or h parameters can be set to automatic (\"Jimp.AUTO\" or -1).","parameters":[{"name":"w","type":"num|auto","required":true,"hint":"the width to resize the image to (or \"Jimp.AUTO\" or -1)"},{"name":"h","type":"num|auto","required":true,"hint":"the height to resize the image to (or \"Jimp.AUTO\" or -1)"},{"name":"mode","type":"resizeMode","required":false,"hint":"a scaling method (e.g. Jimp.RESIZE_BEZIER)"}]},"x":580,"y":150,"wires":[["e6d329bf.53c9f8"]]},{"id":"638c7fa2.6065d","type":"jimp-image","z":"e589c6c0.2531c8","name":"","data":"payload","dataType":"msg","ret":"img","parameter1":"0","parameter1Type":"num","parameter2":"1","parameter2Type":"num","parameter3":"32","parameter3Type":"num","parameter4":"16","parameter4Type":"num","parameter5":"","parameter5Type":"msg","parameter6":"","parameter6Type":"msg","parameter7":"","parameter7Type":"msg","parameter8":"","parameter8Type":"msg","sendProperty":"payload","sendPropertyType":"msg","parameterCount":4,"jimpFunction":"crop","selectedJimpFunction":{"name":"crop","fn":"crop","description":"crop to the given region","parameters":[{"name":"x","type":"num","required":true,"hint":"the x coordinate to crop form"},{"name":"y","type":"num","required":true,"hint":"the y coordinate to crop form"},{"name":"w","type":"num","required":true,"hint":"the width of the crop region"},{"name":"h","type":"num","required":true,"hint":"the height of the crop region"}]},"x":830,"y":150,"wires":[["686922bd.4ef7ec","325ec874.44c238"]]},{"id":"686922bd.4ef7ec","type":"image viewer","z":"e589c6c0.2531c8","name":"","width":"160","data":"payload","dataType":"msg","active":true,"x":830,"y":200,"wires":[[]]},{"id":"325ec874.44c238","type":"function","z":"e589c6c0.2531c8","name":"Format XYRGB","func":"const bitmap = msg.payload.bitmap.data;\nconst channel = global.get(\"CHANNEL\")||\"bot_ioodyme\";\n\nlet CMD = {\n    \"type\":\"matrix\",\n    \"col\":0,\n    \"rgb\":[]\n}\n\nmsg = {\n    \"payload\":{\n        \"channel\" : channel,\n        \"message\" : \"!api-CMD\" + JSON.stringify(CMD)\n    }\n}\n\nlet curspos = 0\nfor(let i = 0; i<16 ; i++){\n    CMD.col = i;\n    let merged = []\n    for(let j=0; j<32;j++){\n        merged.push(bitmap[curspos]);\n        merged.push(bitmap[curspos+1]);\n        merged.push(bitmap[curspos+2]);\n        curspos +=4\n    }\n    CMD.rgb = merged;\n    msg.payload.message = \"!api-\" + JSON.stringify(CMD);\n    node.send(msg);\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1040,"y":150,"wires":[["60327ed8.c724f"]]},{"id":"60327ed8.c724f","type":"delay","z":"e589c6c0.2531c8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1220,"y":150,"wires":[["12ef1456.964d0c"]]},{"id":"4d5ada11.25c3d4","type":"exec","z":"e589c6c0.2531c8","command":"curl -O ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Save from URL","x":250,"y":40,"wires":[[],[],[]]},{"id":"64987cb0.83f994","type":"file in","z":"e589c6c0.2531c8","name":"","filename":"","format":"","chunk":false,"sendError":false,"encoding":"none","x":550,"y":100,"wires":[["dde2d739.2a8748"]]},{"id":"d588e0c7.6920f","type":"ui_template","z":"e589c6c0.2531c8","group":"a63b0ad0.cca468","name":"","order":2,"width":6,"height":11,"format":"<img src=\"{{msg.payload}}\" style=\"max-width: 100%\">\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1020,"y":100,"wires":[[]]},{"id":"dde2d739.2a8748","type":"base64","z":"e589c6c0.2531c8","name":"","action":"","property":"payload","x":690,"y":100,"wires":[["42c556ba.f7f6d8"]]},{"id":"42c556ba.f7f6d8","type":"function","z":"e589c6c0.2531c8","name":"Base64 header","func":"msg.payload = \"data:image/png;base64,\" + msg.payload;\nflow.set(\"IMAGE\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":860,"y":100,"wires":[["d588e0c7.6920f"]]},{"id":"d9ebdf7f.99188","type":"ui_button","z":"e589c6c0.2531c8","name":"","group":"a63b0ad0.cca468","order":3,"width":0,"height":0,"passthru":false,"label":"Send IMG","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":90,"y":150,"wires":[["c72e1b10.766a08"]]},{"id":"c72e1b10.766a08","type":"function","z":"e589c6c0.2531c8","name":"Get current IMG","func":"msg.payload = flow.get(\"IMAGE\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":250,"y":150,"wires":[["c3f96036.271c5"]]},{"id":"b98be54.523db18","type":"ui_text_input","z":"e589c6c0.2531c8","name":"","label":"URL","tooltip":"","group":"a63b0ad0.cca468","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"topic","topicType":"msg","x":80,"y":100,"wires":[["4d5ada11.25c3d4","8a77891c.1eae08"]]},{"id":"5acef91d.5385b8","type":"delay","z":"e589c6c0.2531c8","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":420,"y":100,"wires":[["64987cb0.83f994"]]},{"id":"8a77891c.1eae08","type":"function","z":"e589c6c0.2531c8","name":"Get image name","func":"Out = msg.payload.split(\"/\");\nmsg.filename =  Out[Out.length -1]\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":250,"y":100,"wires":[["5acef91d.5385b8"]]},{"id":"12ef1456.964d0c","type":"tmi-command-say","z":"e589c6c0.2531c8","name":"","x":1370,"y":150,"wires":[[],[]]},{"id":"a63b0ad0.cca468","type":"ui_group","name":"Default","tab":"c4303277.73d4d","order":1,"disp":true,"width":"6","collapse":false},{"id":"c4303277.73d4d","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]